*{

    padding: 0;

    margin: 0;

    /*position: absolute;*/
    font-family: sans-serif;

    box-sizing: inherit;

}

body {

    height: 100vh;

    display: grid;
    display: -moz-inline-stack!important;


    background-color: #f6c4c4;
    flex-direction: row;
    place-items: center;

}


.BOX {

    height: 90vh;

    width: 40vh;

    background: #ffffff;

    position: relative;
    resize: horizontal;
}

.BOX1.todo{

    height: 15%;

    width: 100%;

    background: #ff4444;

    color: #fff;

    font-size: 130%;
    display: grid;

    place-items: center;
    /*align-items: center;*/

}

.BOX1.notdone{

    position: absolute;
    height: 15%;

    width: 100%;

    background: #5f5fe8;

    color: #fff;

    font-size: 130%;
    display: grid;

    place-items: center;
    /*align-items: center;*/

}

/* The text input area */
.BOX2{
    align-items: center;

    font-size: 100%;

    position: absolute;

    top: 17%;

    left: 4%;
    right: 8%;

    height: 10%;

    border: none;

    width: 80%;

    border-bottom: 2px solid #4b4949;

    outline: none;

    background: transparent;

    /*background-color: #595998;*/
    padding: 0 5%;

    color: #2d0202;
    child-align: left;


}
.notdone{
    background-color: #e85fa8;
    top: 50% !important;
}

.BOX2::placeholder {

    /* the ADD TASK text */
    color: #595998;

}

.line{

    position: absolute;

    top: 35%;

    left: 10%;
    right: 10%;

    list-style: none;

    height: 40%;

    width: 80%;

    overflow: auto;

}

.line.notdone{
    perspective-origin: initial!important;
    position: absolute!important;
    top: 70% !important;
}

.line li {

    height: 30%;

    width: 100%;

    margin: 1% 0;

    position: relative;

    left: 0;

    border: .1vh solid #1f3148;

    overflow: hidden;

}

.line li h4 {

    height: 90%;

    width: 100%;

    padding: 0 9%;

    display: flex;

    align-items: center;

    color: #1f3148;

    overflow: hidden;

    position: absolute;

    left: 0;

    top: 0;

}

.line li .deleteTask {

    height: 100%;

    width: 20%;

    z-index: 999;

    display: grid;

    place-items: center;

    position: absolute;

    right: -60%;

    background: #ff4444;

    color: #e2e2e2;

    transition: 0.7s all ease-in-out;

    cursor: pointer;

}

.line li:hover .deleteTask {
    right: 0;
}


.btn.todo{

    height: 10%;

    width: 20%;

    position: absolute;

    left: 40%;

    bottom: 4%;

    background: #ff4444;

    outline: none;

    color: #fff;

    border: none;

    cursor: pointer;

    font-size:90%;

    transition: all .3s ease-in;
    border-radius: 20%;

}

.btn:hover{

    background: transparent;

    border: .3vh solid #ff4444;

    color: red;

    font-size: 90%;

    border-radius: 25%;
}

/* Splits the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* left side */
.left {
    left: 0;
    background-color: #151556;
}

/* right side */
.right {
    right: 0;
    background-color: #f6c4c4;
}

/* Content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
