*{

    padding: 0;

    margin: 0;

    /*position: absolute;*/
    font-family: sans-serif;

    box-sizing: inherit;

}

body {

    height: 100vh;

    display: grid;
    display: -moz-inline-stack!important;


    background-color: #f6c4c4;
    flex-direction: row;
    place-items: center;

}

.BOX{
    height: 90vh;
    border-radius: 45px;
    width: 40vh;

    background: #ffffff;

    position: relative;
    resize: horizontal;
}

/*.BOX1{*/
/*    height: 15%;*/

/*    width: 100%;*/

/*    background: #ff4444;*/

/*    color: #fff;*/

/*    font-size: 130%;*/
/*    display: grid;*/

/*    place-items: center;*/
/*    !*align-items: center;*!*/

/*}*/

.BOX1{
    height: 15%;

    width: 100%;

    border-radius: 45px 0 45px;

    background: #5f5fe8;

    color: #fff;

    font-size: 130%;
    display: grid;

    place-items: center;
    /*align-items: center;*/

}

#newBox1{
    background: #a9075d!important;
}
/* The text input area */
.BOX2{
    align-items: center;

    font-size: 100%;

    /*position: absolute;*/

    top: 17%;

    left: 4%;
    right: 8%;

    height: 10%;

    border: none;

    width: 80%;

    border-bottom: 2px solid #4b4949;

    outline: none;

    background: transparent;

    /*background-color: #595998;*/
    padding: 0 5%;

    color: #2d0202;
    child-align: left;
}

/*.BOX*/

.BOX2::placeholder BOX2_1::placeholder {
    /* the ADD TASK text */
    color: #595998;
}

.line{
    list-style: none;
    height: 50%;
    width: 80%;
    overflow: auto;
    margin: 10px auto;
}

.line li {

    width: 98%;
    margin: 8px 0;

    position: relative;

    left: 0;

    border: .1vh solid #1f3148;

    overflow: hidden;

}

.line_1 li {

    width: 98%;
    margin: 8px 0;

    margin: 1% 0;

    position: relative;

    left: 0;

    border: .1vh solid #1f3148;

    overflow: hidden;

}

.line li h4 {
    height: 90%;
    width: 100%;
    padding: 0 3px;
    text-align: left;
    color: #1f3148;
    left: 0;
    top: 0;
}
li:hover{
    background: transparent;
    border: .3vh solid #ff4444 !important;

    color: red !important;
    resize: both;
    font-size: 90%;
    border-radius: 25%;
}


.line_1 li h4 {
    text-decoration: line-through;
}

.line li .deleteTask{

    height: 110%;
    border-radius: 25px;

    width: 20%;

    z-index: 999;

    display: grid;

    place-items: center;

    position: absolute;

    right: -60%;

    background: #ff4444 !important;

    color: #e2e2e2;

    transition: 0.7s all ease-in-out;

    cursor: pointer;

}

.deleteTask_1{
    border-radius: 45px 45px 25px 25px;
    height: 110%;
    width: 20%;
    z-index: 999;

    display: grid;

    place-items: center;
    position: absolute;
    right: -60%;
    background: #ff4444;
    color: #e2e2e2;
    transition: 0.7s all ease-in-out;
    cursor: pointer;

}


.line li:hover .deleteTask {
    right: 0;

}
.line_1 li:hover .deleteTask_1 {
    right: 0;
}

.btn{

    height: 40px;
    width: 20%;
    /*position: absolute;*/
    left: 40%;
    bottom: 4%;
    background: #ff4444;
    outline: none;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size:90%;
    transition: all .3s ease-in;
    border-radius: 20%;

}

.btn:hover{
    background: transparent;
    border: .3vh solid #ff4444 !important;

    color: red !important;

    font-size: 90%;
    border-radius: 25%;
}

/* Splits the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* left side */
.left {
    left: 0;
    background-color: #151556;
}

/* right side */
.right {
    right: 0;
    background-color: #f6c4c4;
}

/* Content centered horizontally and vertically */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/*.attach{*/
/*    position: absolute;*/
/*    right: 2%;*/
/*    width: 20%;*/
/*    top: 20%;*/
/*}*/

.line img{
    height: 50px;
}